@import url('https://fonts.googleapis.com/css?family=Baloo+Chettan|Exo+2|Montserrat&subset=cyrillic');
body
{
   background-color: transparent;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#LayerBody
{
   background-color: transparent;
   background-image: url(../images/backgroung.jpg);
   background-repeat: repeat-y;
   background-position: left top;
   background-size: 100% 100%;
}


#Carousel1 .frame
{
   width: 800px;
   display: inline-block;
   float: left;
   height: 400px;
}
#wb_Carousel1 .pagination
{
   bottom: 0;
   left: 0;
   position: absolute;
   text-align: center;
   vertical-align: middle;
   width: 100%;
   z-index: 998;
}
#wb_Carousel1 .pagination img
{
   border-style: none;
   padding: 12px 12px 12px 12px;
}
#Carousel1_back
{
   position: absolute;
   left: 4px;
   top: 46%;
   width: 30px;
   height: 30px;
   z-index: 999;
}
#Carousel1_next
{
   position: absolute;
   right: 4px;
   top: 46%;
   width: 30px;
   height: 30px;
   z-index: 999;
}
#Carousel1_back img, #Carousel1_next img
{
   border-width: 0;
}
#Carousel1_back a, #Carousel1_next a
{
   cursor: pointer;
}
#Carousel1 .frame-1
{
   background-color: #4B0082;
   background-image: url(../images/magic_znania.jpg);
   background-repeat: no-repeat;
   background-position: left top;
   background-size: 100% 100%;
}
#Carousel1 .frame-2
{
   background-color: transparent;
   background-image: url(../images/iStock.jpg);
   background-repeat: no-repeat;
   background-position: left top;
   background-size: 100% 100%;
}
#Carousel1 .frame-3
{
   background-color: transparent;
   background-image: url(../images/bootcamp-training.jpg);
   background-repeat: no-repeat;
   background-position: left top;
   background-size: 100% 100%;
}
#LayerMain
{
   background-color: rgba(251,251,251,0.86);
   background-image: none;
}

#SiteSearch1
{
   border: 1px solid #CCCCCC;
   border-radius: 4px;
   background-color: #FFFFFF;
   background-image: none;
   color :#000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 16px;
   padding: 4px 4px 4px 4px;
   margin: 0;
   text-align: left;
}
#Image1
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #04396C;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text1 div
{
   text-align: left;
}
#wb_CssMenu1
{
   border: 0px #C0C0C0 solid;
   background-color: transparent;
   margin: 0;
   text-align: left;
	vertical-align: bottom;
}
#wb_CssMenu1 ul
{
   list-style-type: none;
   margin: 0;
   padding: 0;
}
#wb_CssMenu1 li
{
   float: left;
   margin: 0;
   padding: 0px 0px 0px 0px;
   width: 16.66%;
}
#wb_CssMenu1 a
{
   display: block;
   float: left;
   color: #0C5AA6;
   border: 0px none #CCCCCC;
   background-color: #FFFFFF;
   background-image: none;
   font-family: "Exo 2";
   font-weight: bold;
   font-size: 16px;
   font-style: normal;
   text-decoration: none;
   width: 95%;
   height: 60px;
   padding: 0px 5px 0px 5px;
   vertical-align: middle;
   line-height: 60px;
   text-align: center;
}
#wb_CssMenu1 li:hover a, #wb_CssMenu1 a:hover
{
   color: #FFFFFF;
   background-color: #337AB7;
   background-image: none;
   border: 0px #2E6DA4 #119CF1D019AEB47543B400;
}
#wb_CssMenu1 .firstitem:disabled a
{
   color: #FFFFFF;
   background-color: #A6A6A6;
   background-image: none;
   border: 0px #2E6DA4 #119CF1D019AEB47543B400;
}
#wb_CssMenu1 li.firstmain
{
   padding-left: 0px;
}
#wb_CssMenu1 li.lastmain
{
   padding-right: 0px;
}
#wb_CssMenu1 li:hover, #wb_CssMenu1 li a:hover
{
   position: relative;
}
#wb_CssMenu1 a.withsubmenu
{
   padding: 0 5px 0 5px;
   width: 95%;
   background-image: none;
}
#wb_CssMenu1 li:hover a.withsubmenu, #wb_CssMenu1 a.withsubmenu:hover
{
   background-image: none;
}
#wb_CssMenu1 ul ul
{
   position: absolute;
   left: 0;
   top: 0;
   visibility: hidden;
   width: 210px;
   height: auto;
   border: none;
   background-color: transparent;
}
#wb_CssMenu1 ul :hover ul
{
   left: 0px;
   top: 60px;
   padding-top: 0px;
   visibility: visible;
}
#wb_CssMenu1 .firstmain:hover ul
{
   left: 0px;
}
#wb_CssMenu1 li li
{
   width: 210px;
   padding: 0 0px 0px 0px;
   border: 0px #C0C0C0 solid;
   border-width: 0 0px;
}
#wb_CssMenu1 li li.firstitem
{
   border-top: 0px #C0C0C0 solid;
}
#wb_CssMenu1 li li.lastitem
{
   border-bottom: 0px #C0C0C0 solid;
}
#wb_CssMenu1 ul ul a, #wb_CssMenu1 ul :hover ul a, #wb_CssMenu1 ul :hover ul :hover ul a, #wb_CssMenu1 ul :hover ul :hover ul :hover ul a
{
   float: none;
   margin: 0;
   width: 196px;
   height: auto;
   white-space: normal;
   padding: 10px 6px 10px 6px;
   background-color: #FFFFFF;
   background-image: none;
   border: 1px solid #679ED2;
   color: #04396C;
   font-family: "Exo 2";
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   line-height: 13px;
   text-align: left;
   text-decoration: none;
}
#wb_CssMenu1 ul :hover ul .firstitem a, #wb_CssMenu1 ul :hover ul :hover ul .firstitem a, #wb_CssMenu1 ul :hover ul :hover ul :hover ul .firstitem a
{
   margin-top: 0px;
}
#wb_CssMenu1 ul ul :hover a, #wb_CssMenu1 ul ul a:hover, #wb_CssMenu1 ul ul :hover ul :hover a, #wb_CssMenu1 ul ul :hover ul a:hover, #wb_CssMenu1 ul ul :hover ul :hover ul :hover a, #wb_CssMenu1 ul ul :hover ul :hover ul a:hover, #wb_CssMenu1 ul ul :hover ul :hover ul :hover ul :hover a, #wb_CssMenu1 ul ul :hover ul :hover ul :hover ul a:hover
{
   background-color: #679ED2;
   background-image: none;
   border: 1px solid #679ED2;
   color: #FFFFFF;
}
#wb_CssMenu1 ul ul :disabled ul :hover ul a:disabled, #wb_CssMenu1 ul ul :disabled ul :disabled ul :disabled ul :disabled a, #wb_CssMenu1 ul ul :disabled ul :disabled ul :disabled ul a:disabled
{
   background-color: #AAAAAA;
   background-image: none;
   border: 1px solid #679ED2;
   color: #FFFFFF;
}
#wb_CssMenu1 ul ul a.withsubmenu, #wb_CssMenu1 ul :hover ul a.withsubmenu, #wb_CssMenu1 ul :hover ul :hover ul a.withsubmenu, #wb_CssMenu1 ul :hover ul :hover ul :hover ul a.withsubmenu
{
   width: 198px;
   padding: 10px 5px 10px 5px;
   background-image: none;
}
#wb_CssMenu1 ul ul :hover a.withsubmenu, #wb_CssMenu1 ul ul a.withsubmenu:hover, #wb_CssMenu1 ul ul :hover ul :hover a.withsubmenu, #wb_CssMenu1 ul ul a.withsubmenu:hover a.withsubmenu:hover, #wb_CssMenu1 ul ul :hover ul :hover ul :hover a.withsubmenu, #wb_CssMenu1 ul ul a.withsubmenu:hover a.withsubmenu:hover a.withsubmenu:hover
{
   background-image: none;
}
#wb_CssMenu1 ul :hover ul ul, #wb_CssMenu1 ul :hover ul :hover ul ul, #wb_CssMenu1 ul :hover ul :hover ul :hover ul ul
{
   position: absolute;
   left: 0;
   top: 0;
   visibility: hidden;
}
#wb_CssMenu1 ul :hover ul :hover ul, #wb_CssMenu1 ul :hover ul :hover ul :hover ul, #wb_CssMenu1 ul :hover ul :hover ul :hover ul :hover ul
{
   left: 210px;
   top: 0px;
   visibility: visible;
}
#wb_CssMenu1 ul :hover ul .firstitem:hover ul, #wb_CssMenu1 ul :hover ul :hover ul .firstitem:hover ul, #wb_CssMenu1 ul :hover ul :hover ul :hover ul .firstitem:hover ul
{
   top: 0px;
}
#wb_CssMenu1 br
{
   clear: both;
   font-size: 1px;
   height: 0;
   line-height: 0;
}
#wb_Text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text2 div
{
   text-align: center;
}
#LayerSections
{
   background-color: transparent;
   background-image: none;
}

#LayerDiploms
{
   background-color: transparent;
   background-image: none;
}
