@import url('https://fonts.googleapis.com/css?family=Baloo+Chettan|Exo+2');
body{
 	background-color: transparent;
   background-image: url(../images/backgroung.jpg);
   background-position: left top;
   background-size: 100% 100%;
	margin: 0px;
}
.main-layer{
	width:1200px;
	margin: 0px auto;
	height: calc(100%-65px);
}
.paige_of_course_name {
	width: 1200px;
	padding-top: 15px;
	height: 65px;
	background-color:#0C5AA6;
	text-align: center;
	color:white;
	font-family: "Exo 2";
   	font-weight: bold;
   	font-size: 35px;
   	font-style: normal;
}
.project-explorer-container {
	width: 300px;
	min-height: calc(100%-65px);
 	display: table-cell;
    vertical-align: top;
	height: inherit;
    box-sizing: border-box;  /* не поддерживается в CSS2 */
	background-color:rgba(99,167,237,0.4);
	text-align: center;
	text-align-last: center;
	float:left;
}
.project-explorer{
	width: 275px;
	overflow:hidden;
	display: block;
	margin: 0 auto;
	height: calc(100%-65px);
	background-color:rgba(250,250,250,0.8);
	text-align: center;
	text-align-last: center;
	border-width: 2px;
	border-color: #dbdbdb; /* Цвет границы */ 
    border-style: solid; /* Стиль границы */ 
	float:left;
}
.pages-list{
	max-height:550px;
	overflow-y: auto;
}
.pages {
	display: block;
	list-style-type: none;
	margin: 0 auto;
	width: 275px;
	color:rgba(0,57,111,1.00);
	font-family: "Exo 2";
	font-size: 16px;
	background-color:rgba(250,250,250,1);
	line-height: 38px;
	height: 38px;
	text-align: center;
	vertical-align: middle;
}
li.pages:hover{
	background-color:rgb(51,122,183);
	cursor: pointer;
	color:white;
}
.theory-panel{
	width: 900px;
	height: calc(100%-65px);
 	display: table-cell;
    vertical-align: top;
    box-sizing: border-box;  /* не поддерживается в CSS2 */
	background-color:rgba(251,251,251,0.86);
	text-align: left;
	/*text-align-last: center;*/
	float:right;
}
.page_title{
	display: block;
	padding-top: 15px;
	height: 75px;
	text-align: center;
	color: #002D56;
	font-family: "Exo 2";
   	font-weight: bold;
   	font-size: 35px;
   	font-style: normal;
}
.video{
	width: 730px;
	height: 400px;
	margin: 0 auto;
}
textarea:focus{
	outline: none;
	/*padding-left: 25px;*/
}
num_of_questions{
	padding-left: 300px;
}
score{
	padding-left: 300px;
	color:black;
	font-family: "Exo 2";
   	font-weight: bold;
   	font-style: normal;
}
.next_back_btn{
	border-style: none;
	background-color: inherit;
	margin: 40px 0 40px 0;

}
.course_table{
	display: table;
    width: 100%;
    box-sizing: border-box;  /* не поддерживается в CSS2 */
    margin-left: 0;
    margin-right: 0;
}
$primary = #225CFF
$gray = #C8CCD4

.radio{
  position: relative
  cursor: pointer
  line-height: 20px
  font-size: 14px
  margin: 15px
  .label
    position: relative
    display: block
    float: left
    margin-right: 10px
    width: 20px
    height: 20px
    border: 2px solid $gray
    border-radius: 100%
    -webkit-tap-highlight-color: transparent
    &:after
      content: ''
      position: absolute
      top 3px
      left 3px
      width 10px
      height 10px
      border-radius 100%
      background $primary
      transform scale(0)
      transition all .2s ease
      opacity .08
      pointer-events: none
  &:hover
    .label:after
      transform scale(3.6)
}
    
  
input[type="radio"]:checked + .label{
  border-color $primary
  &:after
    transform scale(1)
    transition all .2s cubic-bezier(.35,.9,.4,.9)
    opacity 1
}
.cntr{
  position absolute
  top calc(50% - 10px)
  left 0
  width 100%
  text-align center
}

.hidden{
  display none
}
  

.credit{
  position: fixed
  right: 20px
  bottom: 20px
  transition: all .2s ease
  -webkit-user-select: none
  user-select: none
  opacity: .6
  img
    width: 72px
  &:hover
    transform: scale(.95)
}