#main{
	background-color: rgb(220,220,220);
	border-radius: 5px; /* Уголки */
	height: 100%;
	max-width: 650px;
	width: 100%;
	margin: 0 auto;
}
#header{
	
	text-align: center;
	padding: 70px 0;
	font-family: 'Baloo Chettan', cursive;
	font-weight: 900;
	font-size: 400%;
	color: #04396C
}
#subHeader{
	text-align: center;
	padding: 10px 10px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 900;
	font-size: 150%;
	color: #0C5AA6;
}
#smalText{
	font-family: 'Montserrat', sans-serif;
	padding: 10px 25px 20px;
	font-weight: 400;
	font-size: 100%;
	color: #26527C;
}
#text-login{
	display: block;
	margin: 0 auto;
	margin-top: 10px;
    border-radius: 3px;
	width: 375px;
    padding: 14px 45px 15px 15px;
    height: 25px;
    outline: none;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    color: #333333;
    font-size: 1.21428571rem;
    line-height: 1.21428571rem;
}
#btn-login{
	border: none;
    color: #ffffff;
	display: block;
	margin: 0 auto;
	margin-top: 20px;
    background: #EF8D00;
	width: 150px;
	height: 50px;
    -webkit-border-radius: 3px;
	font-size: 1.21428571rem;
}
#recovery-login-pass{
	color: #26527C;
	display: block;
	margin-left: 110px;
	margin-top: 10px;
}
body{
	background-image: url(images/backgroung.jpg);
	background-size: 100%;
	height:650px;
}